/* styles.css */
.header{
    
    border-radius: 1.50em;
    border: 0.01em solid #050505;
    background-color: white; 
    text-align: center; 
    margin: auto;
    
     }

.button{
    border-radius: 2.50em;
    border: 0.01em solid #ffffff;
    background-color: white; 
    margin: auto;
        

}
     


  
    
  
  
  
  
  