.tabs {
  width: 100%;
  border-bottom: none;
}

.tabs ul {
    border-bottom-style: none;
}

.tabs ul li {
  border-bottom: 3px solid #0000;
}

.tabs ul .is-active {
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.tabs ul .is-active a {
  border-bottom: #ffffff;
}

.tabs ul li a {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  color: #000 !important;
  text-decoration: none;
}

.tabs ul:focus {
    font-size: 1rem;
    font-weight: 900;
    text-align: left;
    color: #ffffff !important;
    text-decoration: none;
  }