.card-radious {
    border-radius: 100px;
    border-top-width: 100px;
    border-right-width: 10em;
    border-bottom-width: thick;
    border-left-width: thin;
    border: 100px solid black;
  } 

  

  
  