.card {
  margin: auto;
  border-radius: 1.50em;
  border: 0.063em solid #ffffff;
  width: 100%;
  padding: 0;
  min-height: 12.5rem;
  box-sizing: content-box;
}

.card-header .card-header-title {
  text-align: center;
  display: block;
}

.opacity-card {
  background-color: rgb(43, 129, 146, 0.1);
  position: relative;
  border: 1px solid rgb(43, 129, 146, 0.1);
}

.cart-title {
  text-transform: uppercase;
  min-height: auto;
  width: 50%;
  margin: auto;
  font-weight: 900;
}

  

  
  