.card {
  border-radius: 1.50em;
  border: 0.063em solid #ffffff;
  width: 100%;
  min-height: 12.5rem;
  padding: 0;
  margin: 0;
}

.card-header .card-header-title {
  text-align: center;
  display: block;
}

.opacity-card {
  background-color: rgb(43, 129, 146, 0.1);
  position: relative;
  border: 1px solid rgb(43, 129, 146, 0.1);
}

.cart-title {
  background-color: #ffffff;
  border-radius: 50px;
  font-size: 1.7rem;
  text-transform: uppercase;
  border: 1.5px solid #000000;
  padding: 0.5rem;
  font-weight: bold;
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  padding: 10px 30px;
}

@media (min-width: 1500px) {
  .cart-title {
    border-radius: 65px;
  }
  .cart-title {
    font-size: 2.2rem;
  }
} 

  
  