.input:focus {
  outline: none;
  border: none;
}

.input-radious {
  border: 2px solid black;
  font-size: 0.8em;
  padding: 1.3rem 1rem;
  border-radius: 10px;
  outline: none;
}

.float-label {
  position:relative;
  border-bottom: 0.063rem solid #ddd;
}

.float-span {
    position:absolute;
    top: -0.8rem;
    left: 0.8rem;
    transform:translateY(50px);
    font-size: 0.7em;
    font-weight: 900;
    color: #ffffff;
    border-radius: 1.563rem;
    border: 0.063rem solid #60dd96;
    background-color: #60dd96;
    padding: 0.05rem 1rem;
}

.input {
  outline: none;
  background-color: #ffffff;
}

.input:hover {
  border: 2px solid black;
}

.input:focus {
  border: 2px solid black;
}

.float-label:focus-within > .float-span,
.input-radious:not(:placeholder-shown) + .float-span {
  transform:translateY(0px);
}

.icon-blue {
  color: #2B8192;
  font-size: 1.5rem;
}
