.button-tese {
  background-color:#2B8192 !important;
  border: 1px solid #2B8192 !important;
  color:#ffffff;
  font-weight: 900;
  font-size: 0.8rem;
  outline:none;
  width: 100%;
  padding: 0 !important;
}

.button-tese:hover {
  color: #ffffff !important;
}

.button-tese:focus {
  color: #ffffff !important;
}
.button-register{
  background-color: transparent;
  color:#ffffff;
  font-weight: 900;
  font-size: 2.8rem;
  outline:none;
  border: none;
  padding: 0 !important;
  height: 20px;
  float: right;
  margin: 15px 0;

}

.button-register:hover {
  color: #ffffff !important;
}

.button-register:focus {
  outline: none;
  color: #ffffff !important;
}

.button-tables {
  outline: none;
  border: 1.5px solid #000000;
  background-color: #ffffff;
  color: #646463;
  font-weight: bold;
  font-size: 0.7rem;
  padding: 20px;
  width: 150px;
  max-width: 150px;
  justify-content: space-between;
  border-radius: 10px;
}

.delete-events:hover {
  border: 1.5px solid #000000;
  outline: none;
}

.delete-events:focus {
  border: 1.5px solid #000000;
  outline: none;
}
