.button-tese {
  background-color:#2B8192 !important;
  border: 1px solid #2B8192 !important;
  color:#ffffff;
  font-weight: 900;
  font-size: 0.8rem;
  outline:none;
  width: 100%;
  padding: 0 !important;
}

.button-tese:hover {
  color: #ffffff !important;
}

.button-tese:focus {
  color: #ffffff !important;
}