@import 'bulma/css/bulma.min.css';
@import './../../node_modules/@mdi/font/css/materialdesignicons.css';
@import './../../node_modules/@mdi/font/css/materialdesignicons.min.css';

@import url('./Inputs/input-label.css');
@import url('./Cars//cards.css');
@import url('./Header/header.css');
@import url('./Dialog/dialog.css');
@import url('./Buttons/all-buttons.css');

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  text-align: center;
  background-color: #EBECF0;
  font-family: 'Poppins';
}

html {
  background-color: #EBECF0;
}
  
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
  
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
  
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
  
.App-link {
  color: #61dafb;
}

.img-not-found {
  margin: auto;
  width: 40rem;
}

.login-content {
  width: 40%;
  margin: auto;
  margin-top: 3%;
}

.center-img {
  margin: auto;
  margin-top: 1rem;
}

.inputs-content {
  width: 70%;
  margin: 15% auto 3%;
}

.inputs-content .text-actions {
  text-align: right;
  font-size: 0.8rem;
}

.inputs-content .text-actions div a {
  text-decoration: none;
  color: #717273;
  font-weight: 400;
}

.buttons-content {
  width: 60%;
  margin: 5% auto;
}

.margin-bottom {
  margin-bottom: 3% !important;
}

.register-content{
  padding-top: 5%;
}

.margin-top{
  margin-top: 2%;
}

.container-personal {
  width: 100%;
  margin:2%;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.title-register {
  text-align: left;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.3rem;
}

@media (min-width: 1350px) {
  .login-content {
    width: 30%;
    margin: auto;
    margin-top: 8%;
  }
}
