.dialog-header .dialog-header-title {
    
    text-align: center;
    display: block;
    font-size: 2.15em;
    font-family: 'Times New Roman', Times, serif;
    color: #c12529;
    font-weight: 400;
  } 

.dialog {
    padding-left: 2em;
    padding-top: 3.5em;
    padding-right: 2em;
    padding-bottom: 3.5em;
    border-radius: 1.50em;
    background: #ffffff;
    border: 0.063em solid #000000;
    width: 100%;
    font-size: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight: 400;
  } 
  
  
  
  
    